= error_messages_for 'comment'
/ [form:comment]
%p
  %label{:for => "comment_name"} Name
  %br/
  = text_field 'comment', 'name'
%p
  %label{:for => "comment_message"} Message
  %br/
  = text_area 'comment', 'message'
%p
  %label{:for => "comment_commentable_type"} Commentable type
  %br/
  = text_field 'comment', 'commentable_type'
%p
  %label{:for => "comment_created_at"} Created at
  %br/
  = datetime_select 'comment', 'created_at'
%p
  %label{:for => "comment_updated_at"} Updated at
  %br/
  = datetime_select 'comment', 'updated_at'
/ [eoform:comment]
