%h1 Editing nickname
= error_messages_for :nickname
- form_for([:admin, @nickname]) do |f|
  %p
    %b Nickname
    %br/
    = f.text_field :nickname
  %p
    = f.submit "Update"
= link_to 'Show', admin_nickname_path(@nickname)
|
\#{link_to 'Back', admin_nicknames_path}
