<h1>Editing nickname</h1>

<%= error_messages_for :nickname %>

<% form_for([:admin, @nickname]) do |f| %>
  <p>
    <b>Nickname</b><br />
    <%= f.text_field :nickname %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', admin_nickname_path(@nickname) %> |
<%= link_to 'Back', admin_nicknames_path %>
