<h1>Listing nicknames</h1>

<table>
  <tr>
    <th>Nickname</th>
  </tr>

<% for nickname in @nicknames %>
  <tr>
    <td><%= render_nickname nickname.nickname %></td>
    <td><%= link_to 'Show', admin_nickname_path(nickname) %></td>
    <td><%= link_to 'Edit', edit_admin_nickname_path(nickname) %></td>
    <td><%= link_to 'Destroy', admin_nickname_path(nickname), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New nickname', new_admin_nickname_path %>
