<%= error_messages_for 'demofile' %>

<!--[form:demofile]-->
<p><label for="demofile_content_type">Content type</label><br/>
<%= text_field 'demofile', 'content_type'  %></p>

<p><label for="demofile_filename">Filename</label><br/>
<%= text_field 'demofile', 'filename'  %></p>

<p><label for="demofile_size">Size</label><br/>
<%= text_field 'demofile', 'size'  %></p>

<p><label for="demofile_thumbnail">Thumbnail</label><br/>
<%= text_field 'demofile', 'thumbnail'  %></p>

<p><label for="demofile_created_at">Created at</label><br/>
<%= datetime_select 'demofile', 'created_at'  %></p>

<p><label for="demofile_updated_at">Updated at</label><br/>
<%= datetime_select 'demofile', 'updated_at'  %></p>
<!--[eoform:demofile]-->

