%h1 Upload a Demo

%p Upload a warsow demo (*.wd9, *.wd10, *.wd11 or *.wd12) or a defrag demo (*.dm_68).

= form_for :demofile, :url => { :action => :create }, :html => { :multipart => true } do |f|
  %p
    = error_messages_for @demofile
  %p
    = f.file_field :file, :size => 50
  %p
    = submit_tag :Upload

  - unless @valid
    %p.error
      If you have any trouble with uploading demos please mail the file to us and tell us what's wrong:
      = mail_to 'l@larskluge.com'

