<h1>Upload a demo.</h1>

<p>
	Upload a warsow demo (*.wd9 or *.wd10 file).
</p>

<% form_for :demofile,
	:url => { :action => :create },
	:html => { :multipart => true } do |f| -%>

	<p>
		<%= error_messages_for 'demofile' %>
	</p>

	<p><%= f.file_field :uploaded_data, :size => 50 %></p>

	<p>
		Gametype:
		<%= radio_button 'demofile', 'gametype', 'race', :checked => 'checked' %>
		<label for="demofile_gametype_race">race</label>

		&nbsp;

		<%= radio_button 'demofile', 'gametype', 'freestyle' %>
		<label for="demofile_gametype_freestyle">freestyle</label>
	</p>

	<p><%= submit_tag :Upload %></p>
<% end -%>

