<h1>Welcome.</h1>



<h2>Cache</h2>

<p>
  # cached files: <%= @cnt_cached_files || 'unable to count, cache maybe not a filestore' %>
</p>

<p>
  <% form_for :welcomes, :url => delete_cache_admin_welcomes_path, :html => {:method => :delete} do |f| %>
    <%= submit_tag 'Delete cache' %>
  <% end %>
</p>



<h2>Demos having trouble</h2>

<% if @demos.length == 0 %>
  <p>Everything looks fine. =)</p>
<% else %>

  <table>
    <tr>
      <th>id</th>
      <th>created</th>
      <th>gamemode</th>
    </tr>

  <% for demo in @demos %>
    <tr>
      <td><%= demo.id %></td>
      <td><%= render_datetime demo.created_at %></td>
      <td><%= h demo.gamemode %></td>
      <td style="color: red"><%= (demo.data_correct.nil?) ? 'NOT VERIFIED' : 'DATA INCORRECT' %></td>
      <td><%= link_to 'Verify', verify_demo_path(demo) %></td>
      <td><%= link_to 'Edit', edit_demo_path(demo) %></td>
      <td id="rerender<%=demo.id%>">
        <%= link_to_remote 'Rerender',
          :method => 'GET',
          :url => update_demo_path(demo, :appsec => '1CGBre7Rk36vjBfT8cVEhhXIjEGVaPpI', 'demo[status]' => 'uploaded'),
          :success => '$("rerender%d").update("Requested.");' % demo.id
        %>
      </td>
      <td><%= link_to 'Destroy', demo_path(demo, :method => :delete), :confirm => 'Are you sure?', :method => :post %></td>
    </tr>
  <% end %>
  </table>

<% end %>
