%p
  %b Nickname:
  = render_nickname @player.main_nickname.nickname
%p
  %b Alias:
  = @player.nicknames.map{|name| render_nickname(name.nickname) }.join(', ')
%p
  %b Created at:
  = render_datetime @player.created_at
%p
  %b Updated at:
  = render_datetime @player.updated_at
= link_to 'Edit', :action => 'edit', :id => @player
|
\#{link_to 'Back', :action => 'list'}
