%h1 Upload any stuff.

%p
  Use this to upload any stuff that might be interessting for 1337demos.
  %br
  Upload demos of unsupported games, gamemodes or anything else you want to throw at me.

= form_for @stuff, :url => stuffs_url, :html => { :multipart => true } do |f|
  %p
    = error_messages_for :stuff
    = error_messages_for 'Comment', :object => @stuff.comments.first

  = f.fields_for :comments, f do |cf|
    = cf.fields_for :user, cf do |uf|
      %p
        = uf.label :name, 'Your Name*'
        %br
        = uf.text_field :name, :size => 30
      %p
        = uf.label :mail_pass, 'Mail*'
        %br
        = uf.text_field :mail_pass, :size => 30

    %p
      = cf.label :message, 'Please tell me why you upload that file and what is it good for...*'
      %br
      = cf.text_area :message, :cols => 40, :rows => 5
  %p
    = f.label :stuff_file, 'File to upload*'
    %br
    = f.file_field :stuff_file, :size => 30

  %p= submit_tag :Upload

