<%= error_messages_for 'demo' %>

<!--[form:demo]-->
<p><label for="demo_version">Version</label><br/>
<%= text_field 'demo', 'version'  %></p>

<p><label for="demo_gamemode">Gamemode</label><br/>
<%= text_field 'demo', 'gamemode'  %></p>

<p><label for="demo_time">Time</label><br/>
<%= text_field 'demo', 'time'  %></p>

<p><label for="demo_created_at">Created at</label><br/>
<%= datetime_select 'demo', 'created_at'  %></p>

<p><label for="demo_updated_at">Updated at</label><br/>
<%= datetime_select 'demo', 'updated_at'  %></p>
<!--[eoform:demo]-->

