= javascript_include_tag 'swfobject'
:javascript
  swfobject.registerObject("player", "9.0.115", "/flashes/expressInstall.swf");
%object#player{:classid => "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", :height => "308", :width => "384"}
  %param{:name => "movie", :value => "/flashes/mediaplayer.swf"}/
  %param{:name => "allowfullscreen", :value => "true"}/
  %param{:name => "flashvars", :value => "file=#{@demo.video_url}&amp;image=/images/maps/thumbs/384x288/#{@demo.map_id}.jpeg"}/
  / [if !IE]>
  %object{:data => "/flashes/mediaplayer.swf", :height => "308", :type => "application/x-shockwave-flash", :width => "384"}
    %param{:name => "allowfullscreen", :value => "true"}/
    %param{:name => "flashvars", :value => "file=#{@demo.video_url}&amp;image=/images/maps/thumbs/384x288/#{@demo.map_id}.jpeg"}/
    / <![endif]
    %a{:href => "http://www.adobe.com/go/getflashplayer"}
      %img{:alt => "Get Adobe Flash player", :src => "http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif"}/
    / [if !IE]>
  / <![endif]
