%tr
  %td Involved player(s)
  %td
    - if @fixed_nickname
      = render_nickname(@fixed_nickname)
      = hidden_field(:demo, :players, :value => @fixed_nickname)
    - else
      - i = 0
      - for nickname in @playernames
        - id = "demo_players_#{i}"
        - i += 1
        = check_box_tag 'demo[players][]', nickname, false, :id => id
        %label{:for => id}= render_nickname nickname
        %br
%tr
  %td
    = label 'demo', 'title', 'Title'
  %td
    Describe your trick jump here as
    %strong short
    as possible!
    %br
    E.g. '2xrj+nade boost' or '2x+inv3xw+lol' or 'jp+hole+2xrocketwj+platform'
    %br
    = text_field :demo, :title, :size => 30

