<table class="toplist">
  <% for demo in toplist %>
    <tr <%= 'class="active-demo"' if demo == active_demo %>>
      <td><%= demo.position.ordinalize if demo.position %></td>
      <td><%= render_race_time demo.time %></td>
      <td><%= render_race_time_difference active_demo.time, demo.time %></td>
      <td><%= render_linked_player demo.players.first %></td>
      <td><%= link_to 'Play', demo_path(demo) %></td>
    </tr>
  <% end %>
</table>

