%h1
  = h @headline
  = link_to image_tag('layout_2008-07/icons/rss.png', :size => '16x16', :alt => 'demo feed'), @feed_url, :style => "border-bottom:0", :rel => "alternate external", :title => "feed for the #{@title}"

%table
  %tr
    %th Uploaded
    %th Game
    %th Time/Title
    %th Map
    %th Players
  - for demo in @demos
    %tr
      %td= render_datetime demo.created_at
      %td= h format_game_with_mode(demo)
      %td
        = render_time_title demo
      %td= render_linked_map demo.map
      %td= render_linked_players(demo.players)
      %td
        %div{:class => "statusbox #{demo.status}", :title => "rendering status: #{demo.status}"}
      %td= link_to 'Play', :action => 'show', :id => demo

%div{:style => "text-align: center; padding-top: 1em"}
  = will_paginate @demos, :inner_window => 2, :outer_window => 0

