.rating
  - form_for :rating, nil, :url => { :controller => 'ratings', :action => 'rate' } do |f|
    = f.hidden_field :key, :value => :default
    = f.hidden_field :id, :value => rateable.id
    = f.hidden_field :model, :value => rateable.class.to_s
    = f.select :amount, Rating.range.to_a
    = submit_tag 'Rate'
  %span#current_rating
    = render_rating_text(rateable.rating(:default))
