%h1
  = render_nickname @player.main_nickname.nickname
%p
  Known since #{render_datetime @player.created_at}
- if @aliases.length > 0
  %p
    Aliases:
    = render_nicknames(@aliases)

%h2 Demos
%table
  %tr
    %th Time/Title
    %th Map
    %th Gamemode
    %th Uploaded
  - for demo in @demos
    %tr
      %td= render_time_title demo
      %td= render_linked_map demo.map
      %td= demo.gamemode
      %td= render_datetime demo.created_at
      %td= link_to 'Play', :controller => 'demos', :action => 'show', :id => demo
  %tr
    %td{:colspan => "4", :style => "text-align: center; padding-top: 1em"}
      = will_paginate @demos, :inner_window => 2, :outer_window => 0

