<div class="shoutbox">
	<h2>Shoutbox</h2>

	<div id="shoutbox_container">
		<p style="margin: 0">
			<a id="toggle" href="javascript:void(0)">Click to shout!</a>
		</p>

		<div id="shoutbox_container_toggle">
			<p style="margin: 0px; padding: 10px 0">
				Write whatever is on your mind!
        Please post in english.
				You may use warsow/quake color codes for your name
				(e.g. ^1nick^7name = <%= render_nickname('^1nick^7name') %>;
				color codes: <%= render_nickname '^11^22^33^44^55^66^77^88^99^00' %>).
			</p>

			<% form_tag({:controller => 'welcome', :action => 'create_comment'}, {:class => 'shout_form'}) do %>
				<%= render :partial => '/comments/form' %>
				<%= submit_tag 'Submit' %>
			<% end %>
		</div>
	</div>

	<% for shout in @shoutboxes %>
		<div class="shout">
			<p>
        <%= gravatar_tag shout, 32 %>

				<%= h shout.message %>
				<br />
				<%= render_date shout.created_at %>
				by
				<%= render_nickname shout.name %>



			</p>
		</div>
	<% end %>

</div>

