<h1>Editing car</h1>

<%= error_messages_for :car %>

<% form_for(@car) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @car %> |
<%= link_to 'Back', cars_path %>
