<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

<style type="text/css">

.even td
{
  background-color: #eee;
}

.odd td
{
  background-color: #ddd;
}

.more-link
{
  cursor: pointer;
}

</style>

<table>
  <tr>
    <th>valid</th>
    <th>Filename</th>
    <th>version</th>
    <th>mapname</th>
    <th>time</th>
    <th>playernames</th>
    <th>scoreboards</th>
    <th>gamemode</th>
    <th>player</th>
    <th>basegamedir</th>
    <th>gamedir</th>
  </tr>

  <% i = 0; for dr in @drs %>
  <tr class="<%= (i % 2 == 0) ? 'even' : 'odd'%>">
    <td><%= dr.valid %></td>
    <td><%= File.basename(dr.filename) %></td>
    <td><%= dr.version %></td>
    <td><%= dr.mapname %></td>
    <td><%= dr.time %></td>
    <td><%= dr.playernames.collect{|name| render_nickname(name)}.join(', ') %></td>
    <td>
      <% if dr.scoreboards.empty? %>
        &nbsp;
      <% else %>
        <div onclick="$(this).find('.more-link').hide(); $(this).find('.scoreboards').show()">
          <span class="more-link">
            show <%= dr.scoreboards.size %> scoreboard entries
          </span>
          <span class="scoreboards" style="display:none">
            <%= dr.scoreboards.join('<br />') %>
          </span>
      <% end %>
    </td>
    <td><%= dr.gamemode %></td>
    <td><%= dr.player %></td>
    <td><%= dr.basegamedir %></td>
    <td><%= dr.gamedir %></td>
  </tr>
  <% i += 1; end %>
</table>

