!!!

%html
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}
    %title
      = @title ?                                                                                                                                      |
          "#{@title} - 1337demos.com"                                                                                                                 |
        :                                                                                                                                             |
          ([controller.controller_name] << (" // " + controller.action_name if controller.action_name != 'index') << " - 1337demos.com").compact.join |

    = stylesheet_link_tag 'scaffold.css'
    = stylesheet_link_tag 'admin/main.css'
    = javascript_include_tag :defaults
    = javascript_include_tag 'admin/admin.js'
    = active_scaffold_includes

    = csrf_meta_tag

  %body{:class => classname_for_page}
    #main
      #header_outer
        %div{:style => "position: absolute; color: white; font-size: 16px; font-weight: bold; margin: 33px 0 0 20px"}
          ADMIN AREA
        #header_inner
          #header_logo
            = render_admin_mainmenu
      #content
        %p{:style => "color: green"}= flash[:notice]
        = yield

