<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>
    <%=
      if @title
        "#{@title} - 1337demos.com"
      else
        ([controller.controller_name] << (" // " + controller.action_name if controller.action_name != 'index') << " - 1337demos.com").compact.join
      end
    %>
  </title>
  <%= stylesheet_link_tag 'scaffold.css' %>
  <%= stylesheet_link_tag 'admin/main.css' %>
  <%= javascript_include_tag 'admin/jquery-1.2.6.js' %>
  <%= javascript_include_tag 'prototype.js' %>
  <%= javascript_include_tag 'admin/scriptaculous.js' %>
  <%= javascript_include_tag 'admin/admin.js' %>
  <%= active_scaffold_includes %>
</head>
<body class="<%=classname_for_page%>">

<div id="main">

  <div id="header_outer">
    <div style="position: absolute; color: white; font-size: 16px; font-weight: bold; margin: 33px 0 0 20px">ADMIN AREA</div>
    <div id="header_inner">
      <div id="header_logo">
        <%= render_admin_mainmenu %>
      </div>
    </div>
  </div>

  <div id="content">
    <p style="color: green"><%= flash[:notice] %></p>

    <%= yield  %>
  </div>

</div>

</body>
</html>

