!!!

%html
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}
    %meta{:content => "chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title
      = @title ? "#{@title}#{' - ' unless @title.empty?}1337demos.com" : default_title
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag

    - if @rss
      %link{:href => @rss[:url], :rel => "alternate", :title => @rss[:title], :type => "application/rss+xml"}
    - if Rails.env == 'production'
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2232412-7']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script');
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          ga.setAttribute('async', 'true');
          document.getElementsByTagName("head")[0].appendChild(ga);
        })();

  %body{:class => classname_for_page}
    .main
      .header
        .outer_left
        .outer_middle
          .inner_left
            .inner_right
              .inner
                = render_navigation
      .content
        .outer
          .outer_left
          .shaddow_left
            .border
          .shaddow_right
            .border
          .outer_right
          .outer_middle
            .inner
              - if flash[:error]
                #error_div_id.flash.flash_error
                  = flash[:error]
              - if flash[:notice]
                #notice_div_id.flash.flash_notice
                  = flash[:notice]
              = yield

      .footer
        .left
          \&copy;
          = Date.today.year
          = link_to '1337demos.com', root_path

        .right.partner
          partner:
          %a{:href => "http://www.warsow-race.net/", :rel => "external"}
            = image_tag 'banner/partner/banner_racenet_80x15.gif', size: '80x15', alt: 'warsow-race.net'
          %a{:href => "http://www.warsow-arena.de/forum/", :rel => "external"}
            = image_tag 'banner/partner/banner_warsowarena_80x15.gif', size: '80x15', alt: 'warsow-arena.de'

